<style type="text/css">
   
#overview-span{
 margin-top: -440px;
 margin-right: 400px;
}

# sidebar-overview {
    color:#0088cc;
}

#quote {
      font-size:15px;
      font-weight:normal;

}   

</style>

    <div id="overview-span">
    <div class="span8 offset1 pull-right">           
            <div class="tab-content"> 
                <h2>Create A Project</h2>
                  <form accept-charset="UTF-8" action="/hackathons/walgreens-photo-app-developer-contest/hacks" class="formtastic hack" id="hack-submission-form" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="3cenGYrWp50xpbLaMcwLJhRjsi0ml3ELlg4OLpNFHCM=" /></div>

  <fieldset class="inputs"><ol>
    <li class="string input required stringish" id="hack_name_input"><label class=" label" for="hack_name">Name<abbr title="required">*</abbr></label><input id="hack_name" name="hack[name]" type="text" />

</li>
    <li class="text input required" id="hack_description_input"><label class=" label" for="hack_description">Description<abbr title="required">*</abbr></label><textarea id="hack_description" name="hack[description]" rows="20">
</textarea>

<p class="inline-hints">Markdown is supported.</p></li>
    <li class="string input optional stringish" id="hack_url_input"><label class=" label" for="hack_url">Url</label><input id="hack_url" name="hack[url]" type="text" />

<p class="inline-hints">Where can people go to view your app?</p></li>
</ol></fieldset>
  <fieldset class="inputs"><ol>
    <li class="string input optional stringish" id="hack_demo_url_input"><label class=" label" for="hack_demo_url">Demo Video URL</label><input id="hack_demo_url" name="hack[demo_url]" type="text" />

<p class="inline-hints">Link to a youtube or vimeo demo.</p></li>
</ol></fieldset>
  <fieldset class="inputs"><ol>
    <li class="text input required" id="hack_built_using_csv_input"><label class=" label" for="hack_built_using_csv">APIs used<abbr title="required">*</abbr></label><textarea data-tag-input="true" id="hack_built_using_csv" name="hack[built_using_csv]" rows="20">
</textarea>

<p class="inline-hints">List the APIs you used to build your hack (Hit 'enter' for multiple tags)</p></li>
</ol></fieldset>
  <fieldset class="buttons"><ol>
    <li class="button">
      <a href="/hackathons/walgreens-photo-app-developer-contest/hacks/-3" class="btn discard">Cancel</a>
    </li>
    <li class="commit button"><input class="btn action create" name="commit" type="submit" value="Save Project" /></li>
      <a href="#" class="btn commit" id="hack-submit-button">Submit for Judging</a>
</ol></fieldset></form>
                  
               
            </div><!--/.tab-content-->
        </div><!--/.span8-->
</div>

</html>   

