
<style type="text/css">
   


# sidebar-overview {
    color:#0088cc;
}

#quote {
      font-size:15px;
      font-weight:normal;

}   

</style>

    <div id="overview-span">
    <div class="span9 offset1 pull-left">           
            <div class="tab-content"> 
              <div id="welcome-logo" class="tab-pane active">
                  <h1 >Add Introduction</h1>
                  <div id="quote">
                  <p> </br> </br> <i> It's in the act of making things that we figure out who we are ... <i></p> </div>
                    </div>
                    </div>
               
            </div><!--/.tab-content-->
        </div><!--/.span8-->
</div>

</html>   
           

