
<style type="text/css">
   


# sidebar-overview {
    color:#0088cc;
}

#quote {
      font-size:15px;
      font-weight:normal;

}


#suggest {
  text-align:justify;
}

</style>

    <div id="overview-span">
    <div class="span9 offset1 pull-left">           
            <div class="tab-content"> 
              <div id="welcome-logo" class="tab-pane active">
                  <h3 >GENERAL</h3>
                  <div id="quote">
                  <p > </br> 
<li type="square">This is a free-form event with no themes emphasized. Just surprise us with anything you would like to build. </li> </br> 
<li type="square">All teams shall be formed only on a lottery basis at kick-off. Any modification to team composition must be verified by the organizers. </li> </br> 
<li type="square">Each team can consist up to a maximum of 3 developers.</li> </br> 
<li type="square">Independent teams are not encouraged. Still want to participate alone? Come talk to us. </li> </br> 
<li type="square">Enroll your teams under presentation to demo your hack at the end of the event. However no team is required to do this, if it wants to skip this part.</li> </br> 
<li type="square">Teams can work on multiple ideas. Multiple teams can work on the same idea. </li> </br> 
<li type="square">If you would like to use this event to resurrect one of your old hacks hanging midway - please let us know, and we would accommodate this category as well.</li> </br> 
<li type="square">No team is required to disclose what it works on to other teams, unless done by choice.</li> </br> 
<li type="square">Running out of ideas? No worries...</li> </br> 
<div id="suggest"> <i>
         &emsp;&emsp; - Check out Idea Brewery to see if anything out there excites you enough to get started.</br> </br>
       &emsp;&emsp; - Take this as an opportunity to make open source contributions. Poke around open &emsp;&emsp; &emsp;&emsp;&emsp;source communities and pick out any bug or feature you need(ed) much.</li> </br> </br> </i></div>
<div id="welcome-logo">
<h3 >ETHICS</h3>
</div> </br>
<li type="square">By registering for the event, every team grants each of its members and the company, the unrestricted use of the product produced during the course of the event, for commercial and non-commercial purposes.</li> </br>
<li type="square">Teams are encouraged to use any third-party SDKs, APIs, etc. to ramp up development. So do mention the ones you had used.</li> </br> <li type="square">No code modules written prior to kick-off day can be used. However teams are free to create any design mockups and wireframes before hand. </li> </br>

       </p> </div>
                    </div>
                    </div>
               
            </div><!--/.tab-content-->
        </div><!--/.span8-->
</div>

  
           

