<style type="text/css">
   
#overview-span{
 margin-top: -350px;
 margin-right: 400px;
}

# sidebar-overview {
    color:#0088cc;
}

</style>

    <div id="overview-span">

      <div class="span8 offset1 pull-right">           
      <div id="register">
      <label class="string optional" for="dropdown-sign-in"> Don't see yours here?</label>
      <ul class="nav">  
      
  <li class="dropdown">     
    <a href="#"  
          class="dropdown-toggle"  
          data-toggle="dropdown" id="dropdown-sign-in">  
          REGISTER NOW ?
          <b class="caret"></b> 
    </a>  
    <ul class="dropdown-menu" >  
    <form style="margin: 0px" accept-charset="UTF-8" action="/login" method="post">
      <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;"/>
        <input name="authenticity_token" type="hidden" value="4L/A2ZMYkhTD3IiNDMTuB/fhPRvyCNGEsaZocUUpw40=" />
      </div>
      <fieldset class='textbox' style="padding:10px">
        <input style="margin-top: 8px" type="email" name="username"placeholder="Email" class="required" onblur="validateEmail(this);"/>
        <input style="margin-top: 8px" type="password" name="password" placeholder="Password" />
        <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
        <label class="string optional" for="user_remember_me"> Remember me</label>
        <div style="text-align: right">
         <input name="login" type="submit" value="Log In" id="log-in-button"/> 
        </div>                  
      </fieldset>
    </form>

    </ul>    
  </li>  
</ul>  


      </div>

      <table class="table table-hover table-bordered" cellpadding="0" cellspacing="0" border="0" id="example" width="100%">
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th >Members</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Hello</td>
          <td colspan="3">first</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Again, Hello</td>
           <td>second</td>

        </tr>
      </tbody>
    </table>
  </div>



      </div><!--/.span8-content-->
    </div><!--/.span8-->
</div>

</html>   
           





