<html>
<head>
  </head>


  <body>

    <div id="overview-span">
    <div class="span9 offset1 pull-left"> 

        <div class="container">
  <div class="row">
    <div class="span9 well">
     <form class="form-horizontal" action='/teamRegister' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Register Your Team</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="teamname">Team Name</label>
      <div class="controls">
        <input type="text" id="teamname" name="teamname" placeholder="" class="input-xlarge">
       
      </div>
    </div>
 

    <div class="control-group">
      <!-- Team Members -->
      <label class="control-label" for="teammember1">teamMember1</label>
      <div class="controls">
        <input type="text" id="teammember1" name="teammember1" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Team Members -->
      <label class="control-label" for="teamMember2">teamMember2</label>
      <div class="controls">
        <input type="text" id="teamMember2" name="teamMember2" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Team Members -->
      <label class="control-label" for="projectname">Project Name</label>
      <div class="controls">
        <input type="text" id="projectname" name="projectname" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>
  
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="projdesc">Project Description</label>
      <div class="controls">
        <textarea name="projdesc" id="projdesc" class="input-xlarge span5" rows="10"></textarea>
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>
 
    
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>
</form>   
    </div>
  </div>
</div>

    </div>
  </div>

  </body>


  </html>