<!DOCTYPE html>   

<html lang="en">  
        <div class="span8 offset1">           
                    <p>

                        Seems like you are already in :)
</p>

                    </div>
                <div id="photos" class="tab-pane">
                    <h2>Section 2</h2>
                </div>
                    <div id="misc" class="tab-pane">
                        <h2>Section 3</h2>
                    </div>
        </div><!--/.span8-->

 </div><!-- /.container -->
</html>   
           


