<!DOCTYPE html>   

<html lang="en">  
<head>
<meta charset="utf-8">   
<title>Yep Yep</title>   
<meta name="description" content="Bla bla bla">  

<link href="../twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="../stylesheets/lean-in-normalize.css" rel="stylesheet">
<link href="../stylesheets/style.css" rel="stylesheet">
<script src="../twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
<script src="../twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script> 



<style type="text/css">
    img.bg {
    /* Set rules to fill background */
    min-height: 768px;
    min-width: 1024px;
    max-width: 60%;
    max-height: 100%;
  }

body {
  padding-top: 0px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
#sidebar {
    padding-top: 50px;
}

#welcome-logo {
  padding-top: 45px;
}

img.logo{
   margin-top: 40px;
   margin-left: 140px; 
}



#user-avatar {
border: 2px solid rgba(0,0,0,0.3);
margin: 0 auto 20px;
position: relative;
-moz-border-radius: 80px;
-webkit-border-radius: 80px;
border-radius: 80px;
width: 120px;
height: 120px;
 margin-top: -110px;
   margin-left: -100px; 
   /* background-image:url(/images/keer.png);*/
}

</style>
</head>

         
  </div><!--/.container-->
</div><!-- /.navbar -->
<a name="top"></a>
<table width="100%" height="12" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#000000" float: "top">
  <tbody><tr>
    <td align="left" valign="top"></td>
  </tr>
</tbody></table>
<div class="container-fluid">

  <h1 ><img src="/images/hack-logo.png" class="logo"/></h1>
    <div class="row-fluid" >
        <div class="span2 offset2" style="padding-right:20px; border-right: 1px solid #ccc;">   
          <div id="sidebar">
            
            <div class="module list-underline">
            <ul class="list-unstyled">
              <li><a href="/overview"><strong>Overview</strong></a></li>
              <li><a href="/announcements"><strong>Announcements</a></li>
              <li><a href="/teams"><strong>Teams</strong></a></li>
              <li><a href="/rules"><strong>Rules</strong></a></li>
              <li><a href="/schedule"><strong>Schedule</strong></a></li>
              <li><a href="/submission"><strong>Submission</strong></a></li>
               <li><a href="/forum"><strong>Forum</strong></a></li>
              <li><a href="/questions"><strong>Brewery</strong></a></li>
            </ul>
            </div>
            </div>
          </div>
<div class="span1 pull-right" > 
          <div id="user-avatar">
            <b id="pic"></b>
        </div>

</div>

        <div class="span8 offset1">           
            <div class="tab-content"> 
              <div id="welcome-logo" class="tab-pane active">
                  <h1 ><img src="/images/game-on.png" class="logo" align="center" style="padding-right:40px; border-right: 1px solid #ccc;"/></h1>
                    </div>
                    </div>
               
            </div><!--/.tab-content-->
        </div><!--/.span8-->
    </div><!--/.row-->
   </div>
 </div><!-- /.container -->
</html>   
           


